<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.todev.examples">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="cn.todev.ExampleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".ui.WindowActivity"/>
        <activity
            android:name=".ui.ScreenSwitchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.ViewActivity" />
        <activity android:name=".ui.CustomViewActivity" />
        <activity android:name=".ui.BasicViewActivity" />
        <activity android:name=".ui.OSSActivity" />

        <service
            android:name=".service.OSSService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".ui.ThreadPoolActivity" />
        <activity android:name=".ui.AsyncTaskActivity" />
        <activity android:name=".ui.LruCacheActivity" />
        <activity android:name=".ui.HandlerActivity" />
        <activity android:name=".ui.EventFirstActivity" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.ServiceFirstActivity" />
        <activity
            android:name=".ui.ActTwoActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".ui.ActFirstActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>